.container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.hero {
    text-align: center;
    position: relative;
}

.hero h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.loginButton {
    background-color: red;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: medium;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    &:hover{
        background-color: darkred;
    }
}

.howItWorks {
    text-align: center;
    font-size: large;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
}

.step {
    background-color: #FFF0F0;
    color: #BC261A;
    border: 6px solid white;
    padding: 20px;
    gap: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    &:hover {
        background-color: #f4c8c8;
    }
}

.signupButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 30px;
    font-size: medium;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);;
    &:hover{
        background-color: darkred;
    }
}

.faq {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 20px;
    }

    .heroContainer {
        height: 50vh;
    }

    .loginButton {
        padding: 8px 16px;
        font-size: 14px;
    }
}


